
.topNav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 60%; /* Full width */
    z-index: 1;
}


.headerLink, .headerLink:active, .headerLink:visited, .headerLink:hover{
  color: #333;
}

.header {
  background-color: #fff;
  color: #333;
  font-family: 'Oxygen Mono', monospace;
}

.header p{
  text-align: right;
  padding: 10px 20px 0px 10px;
}

.aboutSec{
  margin-top: 30px;
  height: 100vh;
}

.rowSec{
  height: 100vh;
}

.contactSec{
  height: 100vh;
}

.about{
  font-family: 'Fira Mono', monospace;
}

.about p{
  font-size: 120px;
  letter-spacing: -8px;
}

#b{
  color: #ff9900;
}

#aboutText{
  font-size: 12px;
  line-height: 0.7;
}

.aboutDesc{
  font-family: 'Fira Mono', monospace;
}

.aboutDesc p{
  font-size: 20px;
}

#contactText{
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
}

.footer {
  background-color: #333;
  color: #ff9900;
  font-family: 'Oxygen Mono', monospace;
}

.footer p{
  text-align: right;
  padding: 10px 20px 10px 10px;
}

.img-card {
  padding: 10px 50px 10px 10px;
}

.contact{
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
}